# Ignore cache
__pycache__
commands/__pycache__/
privilaged_commands/__pycache__/
utils_/__pycache__/

# Ignore replit files
.replit
replit.nix

# Ignore package files
.env # ignore secrets
.config
venv
